footer.footer
    .footer__left
        h3.footer__title Logo / Company Name
        .location Company Adress: Lorem ipsum dolor sit amet 18600, Netherlands 
        .phone +38 958 755-00-00
        .icons
            a(href="#")
                i(class="fab fa-facebook-f")
            a(href="#")
                i(class="fab fa-instagram")
            a(href="#")
                i(class="fab fa-twitter")
            a(href="#")
                i(class="fab fa-youtube")
    .footer__right
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore necessitatibus explicabo distinctio ducimus expedita, minima vel quibusdam maxime tempore eum quisquam modi! Sequi aliquid, praesentium voluptatibus vitae expedita nemo quia?
.footer__last © 2019 - <a href="#" class="footer__link">Privacy Policy</a> - <a href="#" class="footer__link">Terms and Conditions</a>
