
<footer class="footer">
  <div class="footer__left">
    <h3 class="footer__title">Logo / Company Name</h3>
    <div class="location">Company Adress: Lorem ipsum dolor sit amet 18600, Netherlands </div>
    <div class="phone">+38 958 755-00-00</div>
    <div class="icons"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-youtube"></i></a></div>
  </div>
  <div class="footer__right">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore necessitatibus explicabo distinctio ducimus expedita, minima vel quibusdam maxime tempore eum quisquam modi! Sequi aliquid, praesentium voluptatibus vitae expedita nemo quia?</p>
  </div>
</footer>
<div class="footer__last">© 2019 - <a href="#" class="footer__link">Privacy Policy</a> - <a href="#" class="footer__link">Terms and Conditions</a></div>