
<section class="search"> 
  <div class="search__results">26 Results Found</div>
  <div class="search__parameter">
    <div class="search__parameter-title">
      <div class="search-title">Year</div>
      <div class="search-arrow"><img src="../../images/arrow.png"/></div>
    </div>
    <div class="search__parameter-checkboxes">
      <div class="search-checkbox"> 
        <input class="checkbox" type="checkbox" id="1"/>
        <label class="label" for="1">2006</label>
      </div>
      <div class="search-checkbox"> 
        <input class="checkbox" type="checkbox" id="2"/>
        <label class="label" for="2">2009</label>
      </div>
      <div class="search-checkbox"> 
        <input class="checkbox" type="checkbox" id="3"/>
        <label class="label" for="3">2012</label>
      </div>
      <div class="search-checkbox"> 
        <input class="checkbox" type="checkbox" id="4"/>
        <label class="label" for="4">2014</label>
      </div>
      <div class="search-checkbox"> 
        <input class="checkbox" type="checkbox" id="5"/>
        <label class="label" for="5">2016</label>
      </div>
    </div>
  </div>
  <div class="search__parameter">
    <div class="search__parameter-title">
      <div class="search-title">Axle configuration</div>
      <div class="search-arrow"><img src="../../images/arrow.png"/></div>
    </div>
    <div class="search__parameter-checkboxes">
      <div class="search-checkbox"> 
        <input class="radio" type="radio" name="axleConfiguration" id="6"/>
        <label class="radio-label" for="6">6x2</label>
      </div>
      <div class="search-checkbox"> 
        <input class="radio" type="radio" name="axleConfiguration" id="7"/>
        <label class="radio-label" for="7">4x4</label>
      </div>
      <div class="search-checkbox"> 
        <input class="radio" type="radio" name="axleConfiguration" id="8"/>
        <label class="radio-label" for="8">4x2</label>
      </div>
    </div>
  </div>
  <div class="search__parameter">
    <div class="search__parameter-title">
      <div class="search-title">Price</div>
      <div class="search-arrow"><img src="../../images/arrow.png"/></div>
    </div>
    <div class="search__parameter-price"> 
      <input type="number" placeholder="min" min="0"/>
      <input type="number" placeholder="max" min="0"/>
    </div>
  </div>
  <div class="search__parameter">
    <div class="search__parameter-title">
      <div class="search-title">Keyword</div>
      <div class="search-arrow"><img src="../../images/arrow.png"/></div>
    </div>
    <div class="search__parameter-price"> 
      <input class="keyword" type="text" placeholder="Keyword" style="width: 100%"/>
    </div>
  </div>
  <button class="search-button">SEARCH</button>
</section>