
<div class="trucks__settings">
  <div class="trucks__settings-pagination">
    <div class="trucks__settings-block"><</div>
    <div class="trucks__settings-block">1</div>
    <div class="trucks__settings-block">2</div>
    <div class="trucks__settings-block disabled">></div>
  </div>
  <div class="trucks__settings-sort"> <span>Sort by</span>
    <select id="select">
      <option value="">price</option>
      <option value="">mileage</option>
      <option value="">power</option>
      <option value="">gross weight</option>
      <option value="">payload</option>
    </select>
  </div>
</div>